<div class="page-header">
    <h2> Cadastro de Usuários</h2>
</div>  <!--Fim do page-header-->
  <!-- VIEW DE CADASTRO -->
  <div class="row">
  	<div class="col-md-6">
      <p ng-show="mensagem.length" class="alert alert-success">{{mensagem}}</p>
        <form novalidate class="form-horizontal" name="formulario" ng-submit="submeter()"> <!--CHAMA AÇÃO submeter no controller-->
          
          <fieldset>
              <div class="control-group">
              <label class="control-label" for="nome">Nome</label>
              <div class="controls">
                <input type="text" ng-model="usuario.nome" id="nome" name="nome" placeholder="Nome" class="form-control input-lg" required>
                <p class="help-block">Este campo pode conter letras e espaçamento entre os caracteres</p>
                <p ng-show="formulario.$submitted && formulario.nome.$error.required" class="text-danger">*Este campo não pode ser nulo</p
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="username">Nome de Usuário</label>
              <div class="controls">
                <input type="text" ng-model="usuario.id" id="nm_usuario" name="nm_usuario" placeholder="ID" class="form-control input-lg" required ng-maxlength="20">
                <p class="help-block">Este campo pode conter letras e números, sem espaçamento entre os caracteres</p>
                <p ng-show="formulario.$submitted && formulario.nm_usuario.$error.required" class="text-danger">*Este campo não pode ser nulo</p>
                <p ng-show="formulario.$submitted && formulario.nm_usuario.$error.maxlength" class="text-danger">*Este campo não pode ter mais de 20 caracteres</p>
              </div>
            </div>
         
            <div class="control-group">
              <label class="control-label" for="senha">Senha</label>
              <div class="controls">
                <input type="password" ng-model="usuario.senha" id="senha" name="senha" placeholder="Senha" class="form-control input-lg" required ng-minlength="3" ng-maxlength="15">
                <p class="help-block">Este campo pode conter letras e números,sem espaçamentos entre os caracteres</p>
                <p ng-show="formulario.$submitted && formulario.senha.$error.required" class="text-danger">*Este campo não pode ser nulo</p>
                <p ng-show="formulario.$submitted && formulario.senha.$error.minlength" class="text-danger">Este campo deve conter no minimo 3 caracteres e no máximo 15 </p>
                <p ng-show="formulario.$submitted && formulario.senha.$error.maxlength" class="text-danger">Este campo deve conter no minimo 3 caracteres e no máximo 15 </p>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="nivel">Nivel de Acesso</label>
              <div class="controls">
                
                <div class="radio">
                    <label><input  type="radio" ng-model="usuario.nivel" name="rb-usuario" value="User">Usuário</label>
               </div>
                
                <div class="radio">
                    <label><input  type="radio" ng-model="usuario.nivel" name="rb-admin" value="Admin">Administrador</label>
                </div>

              </div>
            </div>

            <div class="control-group">
              <div class="page-header">
                </div>
                <div class="controls">
                    <button href="/" type="submit" class="btn btn-success" ng-disabled="formulario.$invalid">Registrar</button>
                    <a href="/" class="btn btn-success">Voltar</a>
              </div>
            </div>
          </fieldset>
        </form>   
    </div> 
  </div>
