<div class="page-header">
    <h2> {{titulo}}</h2>
</div>

<form class="form-horizontal"  novalidate name="formProdutos" ng-submit="submeterProduto()">

 <fieldset>

    <div class="col-lg-12 form-group margin50">
      <label class="col-lg-3"  for="cd_barras">Código de Barras</label>
      <div class="col-lg-4">
        <input type="text" ng-model="produto.cd_barras" id="cd_barras" name="cd_barras" placeholder="Código de Barras" class="form-control name" required>
        <p ng-show="formProdutos.$submitted && formProdutos.cd_barras.$error.required" class="text-danger">*Este campo não pode ser nulo</p>
      </div>
    </div>

    <div class="col-lg-12 form-group margin50">
        <label class="col-lg-3"  for="nm_item">Nome do Produto</label>
         <div class="col-lg-4">
            <input type="text" ng-model="produto.nm_item" id="nm_item" name="nm_item" placeholder="Nome do item" class="form-control name" required>
            <p ng-show="formProdutos.$submitted && formProdutos.nm_item.$error.required" class="text-danger">*Este campo não pode ser nulo</p>
      </div>
    </div>

    <div class=" col-lg-12 form-group">
      <label class="col-lg-3" for="tipo_item" >Tipo do Item</label>
      <div class="col-lg-4">
         <select  name="tipo_item" required
                    ng-model="produto.tipo_item" class="form-control" 
                    ng-controller="TipoItemController"
                    ng-options="item._id as (item.nome | uppercase) for item in items">
                <option value="">Selecione o Tipo do Item</option>
            </select>
            <p ng-show="formProdutos.$submitted && formProdutos.tipo_item.$error.required" class="text-danger">*Este campo não pode ser nulo</p>
      </div>
    </div>

     <div class="col-lg-12 form-group">
      <label class="col-lg-3" for="unidade">Unidade</label>
      <div class="col-lg-4">
        <select ng-model="produto.unidade"  class="form-control" name="unidade" required
                ng-controller="UnidadesController"
                ng-options="unidade._id as (unidade.nome | uppercase) for unidade in unidades">
            <option value="">Selecione a unidade</option>
        </select>
       <p ng-show="formProdutos.$submitted && formProdutos.unidade.$error.required" class="text-danger">*Este campo não pode ser nulo</p>
      </div>
    </div>


    <div class="col-lg-12 form-group">
      <label class="col-lg-3" for="Preco">Preço</label>
      <div class="col-lg-4">
        <input ng-model="produto.preco" type="text" id="preco" name="preco" placeholder="R$" class="form-control sku" required>
        <p ng-show="formProdutos.$submitted && formProdutos.preco.$error.required" class="text-danger">*Este campo não pode ser nulo</p>
      </div>
    </div>

    
    <div class="col-lg-12 form-group">
      <label class="col-lg-3" for="marca">Marca</label>
      <div class="col-lg-4">
        <select ng-model="produto.marca" class="form-control" name="marca" required
                 ng-controller="MarcasController"
                ng-options="marca._id as (marca.nome | uppercase) for marca in marcas">
            <option value="">Selecione a Marca do Produto</option>
        </select>
        <p ng-show="formProdutos.$submitted && formProdutos.marca.$error.required" class="text-danger">*Este campo não pode ser nulo</p>
      </div>
    </div>


    <div class="col-lg-12 form-group">
      <label class="col-lg-3" for="modelo">Modelo</label>
      <div class="col-lg-4">
        <input ng-model="produto.modelo" type="text" id="modelo" name="modelo" placeholder="Modelo" class="form-control sku" required>
        <p ng-show="formProdutos.$submitted && formProdutos.modelo.$error.required" class="text-danger">*Este campo não pode ser nulo</p>
      </div>
    </div>

 <div class="col-lg-12 form-group">
      <label class="col-lg-3" for="status">Status do Produto</label>
      <div class="col-lg-4">
        
        <select ng-model="produto.status"  class="form-control" name="status"required
                ng-controller="StatusController"
                ng-options="status._id as (status.nome | uppercase) for status in status">
            <option value="">Selecione o Status</option>
        </select > 
        <p ng-show="formProdutos.$submitted && formProdutos.status.$error.required" class="text-danger">*Este campo não pode ser nulo</p>
      </div>
    </div>

    <div class="col-lg-12 ">
        <div class="control-group">
           <div class="page-header">
           </div>
           <div class="controls">
             <button ng-disabled="formProdutos.$invalid" type="submit" class="btn btn-success">Registrar</button>
             <button id="btncancelar" name="btncancelar" type="reset" class="btn btn-success">Limpar</button>
             <a href="/#!/produtos" class="btn btn-success">Voltar</a>
           </div>
        </div>
    </div>
 </fieldset>
</form>
