<div class="page-header">
    <h2>Cadastro de Compras</h2>
</div>

<form class="form-horizontal" novalidate name="formularioCompra" ng-submit="submeterCompra()">

<fieldset>

<!-- NOTA FISCAL-->
<div class="col-lg-12 form-group margin50">
  <label class="col-lg-3" for="nota_fical">Nota Fiscal</label>  
  <div class="col-lg-4">
    <input id="nota_fical" ng-model="compras.nota_fiscal" id="nota_fical" name="nota_fical" type="text" placeholder="Numero da Nota Fiscal" class="form-control name" required>
    <p ng-show="formularioCompra.$submitted && formularioCompra.nota_fiscal.$error.required" class="text-danger">*Este Campo Não Pode Ser Nulo!</p>
  </div>
</div>

<!-- CODIGO DO PRODUTO-->
<div class="col-lg-12 form-group margin50">
  <label class="col-lg-3" for="codigo">Código</label>  
  <div class="col-lg-4">
    <input id="codigo" ng-model="compras.codigo" id="codigo" name="codigo" type="text" placeholder="Codigo do Produto" class="form-control name" required>
    <p ng-show ="formularioCompra.$submitted && formularioCompra.codigo.$error.required" class="text-danger">*Este Campo Não Pode Ser Nulo!</p>
  </div>
</div>

<!-- NOME DO PRODUTO-->
<div class="col-lg-12 form-group margin50">
      <label class="col-lg-3" for="unidade">Produto</label>
      <div class="col-lg-4">
        <select ng-model="compras.produto" class="form-control name"
                ng-options="produto._id as (produto.nm_item | uppercase) for produto in produtos" required>
            <option value="">Selecione o Produto</option>
        </select>
        <p ng-show="formularioCompra.$submitted && formularioCompra.nm_item.$error.required" class="text-danger">*Este Campo Não Pode Ser Nulo!</p>
      </div>
    </div> 


<!-- QUANTIDADE DE PRODUTO RECEBIDA-->
<div class="col-lg-12 form-group margin50">
  <label class="col-lg-3" for="quantidade">Recebido</label>  
  <div class="col-lg-4">
    <input id="quantidade" ng-model="compras.quantidade" id="quantidade" name="quantidade" type="text" placeholder="Quantidade Recebida" class="form-control name" required>
    <p ng-show="formularioCompra.$submitted && formularioCompra.quantidade.$error.required" class="text-danger">*Este Campo Não Pode Ser Nulo!</p>
  </div>
</div>

<!-- Valor Unitario-->
<div class="col-lg-12 form-group margin50">
  <label class="col-lg-3" for="valor_unitario">Unidade R$</label>  
  <div class="col-lg-4">
    <input id="valor_unitario" ng-model="compras.valor_unitario" id="valor_unitario" name="valor_unitario" type="text" placeholder="Valor Unitario" class="form-control name" required>
    <p ng-show="formularioCompra.$submitted && formularioCompra.valor_unitario.$error.required" class="text-danger">*Este Campo Não Pode Ser Nulo!</p>
  </div>
</div>

<!-- Valor Total-->
<div class="col-lg-12 form-group margin50">
  <label class="col-lg-3" for="valor_total">Total R$ </label>  
  <div class="col-lg-4">
    <input disabled id="valor_total" ng-model="compras.valor_total" class="form-control input-md" value="{{((compras.quantidade * 1) * (compras.valor_unitario * 1))}}">
  </div>
</div>

<!-- DATA DE FABRICAÇÃO-->
<div class="col-lg-12 form-group margin50">
  <label class="col-lg-3" for="data_fabricacao">Fabricação</label>  
  <div class="col-lg-4">
    <input id="data_fabricacao" ng-model="compras.data_fabricacao" id="data_fabricacao" name="data_fabricacao" type="text" placeholder="Data de Fabricação" class="form-control name" >
    <p ng-show="formularioCompra.$submitted && formularioCompra.data_fabricacao.$error.required" class="text-danger">*Este Campo Não Pode Ser Nulo!</p>
  </div>
</div>

<!-- VALIDADE DO PRODUTO-->
<div class="col-lg-12 form-group margin50">
  <label class="col-lg-3 " for="validade">Validade</label>  
  <div class="col-lg-4">
    <input id="validade" ng-model="compras.validade" id="validade" name="validade" type="text" placeholder="Validade do Produto" class="form-control name" required >
    <p ng-show="formularioCompra.$submitted && formularioCompra.validade.$error.required" class="text-danger">*Este Campo Não Pode Ser Nulo!</p>
  </div>
</div>

<!-- CODIGO EAN-->
<div class="col-lg-12 form-group margin50">
  <label class="col-lg-3 " for="codigo_ean">Código EAN</label>  
  <div class="col-lg-4">
    <input id="codigo_ean" ng-model="compras.codigo_ean" id="codigo_ean" name="codigo_ean" type="text" placeholder="Codigo EAN" class="form-control name" required >
    <p ng-show="formularioCompra.$submitted && formularioCompra.codigo_ean.$error.required" class="text-danger">*Este Campo Não Pode Ser Nulo!</p>
  </div>
</div>

<!-- Button (Double) -->

<div class="col-lg-12 ">
  <div class="control-group">
      <div class="page-header">
      </div>
    <button ng-disabled="formularioCompra.$invalid" type="submit" id="btnsalvar" name="btnsalvar" class="btn btn-success">Registrar</button>
    <button id="btncancelar" name="btncancelar" type="reset" class="btn btn-success">Limpar</button>
    <a href="/#!/listaCompras" name="btnvoltar" class="btn btn-success">Voltar</a>
  </div>
</div>

</fieldset>
</form>
