<form class="form-horizontal" ng-submit="submeterCompra()">
<fieldset>

<!-- Form Name -->
<legend>Formulario para cadastrar produtos</legend>

<!-- NOTA FISCAL-->
<div class="form-group">
  <label class="col-md-4 control-label" for="nota_fical">N°. Nota Fiscal : </label>  
  <div class="col-md-6">
  <input id="nota_fical" ng-model="compras.nota_fiscal" id="nota_fical" name="nota_fical" type="text" placeholder="Numero da Nota Fiscal" class="form-control input-md" required="">
    
  </div>
</div>

<!-- CODIGO DO PRODUTO-->
<div class="form-group">
  <label class="col-md-4 control-label" for="codigo">Codigo : </label>  
  <div class="col-md-6">
  <input id="codigo" ng-model="compras.codigo" id="codigo" name="codigo" type="text" placeholder="Codigo do Produto" class="form-control input-md" required="">
  </div>
</div>

<!-- NOME DO PRODUTO-->
<div class="form-group">
      <label class="col-md-4 control-label" for="unidade">Produto :</label>
      <div class="col-md-6">
        <select ng-model="compras.produto"  class="form-control"
                ng-options="produto._id as (produto.nm_item | uppercase) for produto in produtos">
            <option value="">Selecione o Produto</option>
        </select>
      </div>
    </div> 


<!-- QUANTIDADE DE PRODUTO RECEBIDA-->
<div class="form-group">
  <label class="col-md-4 control-label" for="quantidade">Quantidade Recebida : </label>  
  <div class="col-md-6">
  <input id="quantidade" ng-model="compras.quantidade" id="quantidade" name="quantidade" type="text" placeholder="Quantidade Recebida" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Valor Unitario-->
<div class="form-group">
  <label class="col-md-4 control-label" for="valor_unitario">Valor Unitario R$ : </label>  
  <div class="col-md-6">
    <input id="valor_unitario" ng-model="compras.valor_unitario" id="valor_unitario" name="valor_unitario" type="text" placeholder="Valor Unitario" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Valor Total-->
<div class="form-group">
  <label class="col-md-4 control-label" for="valor_total">Valor Total R$ : </label>  
  <div class="col-md-6">
    <input disabled id="valor_total" class="form-control input-md" value="{{((compras.quantidade * 1) * (compras.valor_unitario * 1))}}" required="">
  </div>
</div>

<!-- DATA DE FABRICAÇÃO-->
<div class="form-group">
  <label class="col-md-4 control-label" for="data_fabricacao">Data de Fabricação : </label>  
  <div class="col-md-6">
  <input id="data_fabricacao" ng-model="compras.data_fabricacao" id="data_fabricacao" name="data_fabricacao" type="text" placeholder="Data de Fabricação" class="form-control input-md" required="">
    
  </div>
</div>

<!-- VALIDADE DO PRODUTO-->
<div class="form-group">
  <label class="col-md-4 control-label" for="validade">Validade do Produto : </label>  
  <div class="col-md-6">
  <input id="validade" ng-model="compras.validade" id="validade" name="validade" type="text" placeholder="Validade do Produto" class="form-control input-md" required="">
    
  </div>
</div>

<!-- CODIGO EAN-->
<div class="form-group">
  <label class="col-md-4 control-label" for="codigo_ean">Codigo EAN : </label>  
  <div class="col-md-6">
  <input id="codigo_ean" ng-model="compras.codigo_ean" id="codigo_ean" name="codigo_ean" type="text" placeholder="Codigo EAN" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="btnsalvar"></label>
  <div class="col-md-8">
    <button type="submit" id="btnsalvar" name="btnsalvar" class="btn btn-primary"> Salvar</button>
    <button id="btncancelar" name="btncancelar" type="reset" class="btn btn-danger">Cancelar</button>
    <a href="/#!/listaCompras" name="btnvoltar" class="btn btn-success">Voltar</a>

  </div>
</div>

</fieldset>
</form>
