<div class="page-header">
    <h2> Produtos Comprados </h2>
</div> <!-- Fim do page-header-->

<p class="alert alert-info" ng-show="mensagem.lenght">
    {{mensagem}}
</p>

<div>
    <input class="col-lg-4" placeholder="Buscar " ng-model="filtro" ng-model-options="{ debounce: 200}">
</div>

<br>
<br>

 <table class="table table-bordered">
    <thead>
      <tr>
            <th>Nota Fiscal</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Unidade R$</th>
            <th>Total R$</th>
            <th>Data da Compra</th>
            <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="compra in compras |orderBy:'-data_compra'|filter:filtro">
            <td>{{compra.nota_fiscal}}</td>
            <td>{{compra.produto}}</td>
            <td>{{compra.quantidade}}</td>
            <td>{{compra.valor_unitario}}</td>
            <td>{{compra.valor_total}}</td>
            <td>{{compra.data_compra | date:'dd/mm/yyyy'}}</td>
            <td>
               <a title="Excluir"class="btn glyphicon glyphicon-trash" ng-click="removerCompra(compra)"></a>
               <a title="Editar"class="btn glyphicon glyphicon-pencil" href="#!/cadastroCompras/edit/{{compra._id}}"></a>
            </td>
      </tr>
    </tbody>
  </table>
</div>
<a href="/#!/cadastroCompras/new" type="button" class="btn btn-primary">Nova Nota</a>

            














