<div class="row">
  <div class="col-lg-2">
    <div class="input-group">
      <select  name="tipo_item" required
                ng-model="venda.produto" class="form-control" 
                ng-options="produto._id as (produto.nm_item | uppercase) for produto in produtosDb">
            <option value="">Produtos</option>
        </select>
    </div>
   </div>
  <div class="col-lg-2">
    <div class="input-group">
      <input ng-model="venda.preco" type="text" class="form-control" placeholder="Preço">
    </div>
  </div>
  <div class="col-lg-2">
    <div class="input-group">
      <input ng-model="venda.quantidade" type="text" class="form-control" placeholder="Quantidade">
    </div>
  </div>
  <div class="col-lg-2">
    <div class="input-group">
      <input disabled type="text" class="form-control" placeholder="Valor" ng-value="(venda.preco * venda.quantidade)">
    </div>
  </div>
  <div class="col-md-2">
    <a href="" ng-click="mostraProduto()" type="button" class="btn btn-primary">Adicionar Produto</a>
  </div>
</div>

<br>
<br>

<div>
<table class="table">

    <thead>
        <tr>
            <th>Produto</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Valor</th>
        </tr>
     </thead>

    <tbody>
        <tr ng-repeat="produto in produtos">
            <td>{{produto.produto}}</td>
            <td>{{produto.preco}}</td>
            <td>{{produto.quantidade}}</td>
            <td>{{produto.preco * produto.quantidade}}</td>
         </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td >Total R$:{{getTotal()}}</td>
        </tr>
    </tbody>
</table>
<a href=""ng-click="salvaProduto()" type="button" class="btn btn-primary">Finalizar Compra</a>
<a href=""ng-click="removeCampos()" class="btn btn-danger">Cancelar Compra</a>
</div>

