<div class="page-header">
    <h2>Usuários</h2>
</div>  <!--Fim do page-header-->

<p class="alert alert-info" ng-show="mensagem.length">
	{{mensagem}}
</p>

<div>
    <input class="col-lg-4" placeholder="Buscar" ng-model="filtro" ng-model-options="{ debounce: 200 }">
</div>
<br>
<br>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>ID</th>
            <th>Nível</th>
            <th class="text-center">Ação</th>            
        </tr>
     </thead>
    <tbody>
        <tr ng-repeat="usuario in usuarios |filter:filtro ">
            <td>{{usuario.nome}}</td>
            <td>{{usuario.id}}</td>
            <td>{{usuario.nivel}}</td>
            <td> 
                <a href="" title="Excluir" class=" center btn glyphicon glyphicon-trash" ng-click="removerUser(usuario)" ></a>
            </td>
         </tr>
    </tbody>
</table>  
<a href="/#!/usuarios/new" type="button" class="btn btn-primary">Novo Usuário</a>