<div class="page-header">
    <h2>Produtos Cadastrados</h2>
</div>  <!--Fim do page-header-->

<p class="alert alert-info" ng-show="mensagem.length">
	{{mensagem}}
</p>

<div>
    <input class="col-lg-4" placeholder="Buscar" ng-model="filtro" ng-model-options="{ debounce: 200 }">
</div>

<br>
<br>

<table class="table table-bordered">    

    <thead>
        <tr>
            <th>Código de Barras</th>
            <th>Produto</th>
            <th>Tipo</th>
            <th>Unidade</th>
            <th>Preço</th>
            <th class="text-center">Ação</th>
        </tr>
     </thead>

    <tbody>
        <tr ng-repeat="produto in produtos |filter:filtro ">
            <td>{{produto.cd_barras}}</td>
            <td>{{produto.nm_item}}</td>
            <td>{{produto.tipo_item}}</td>
            <td>{{produto.unidade}}</td>
            <td>{{produto.preco}}</td>
            <td class="text-center">
              <a title="Excluir"class="btn glyphicon glyphicon-trash" href="" ng-click="removerProduto(produto)" ></a>
              <a title="Editar"class="btn glyphicon glyphicon-pencil" href="#!/produtos/edit/{{produto._id}}"></a>
            </td>
         </tr>

    </tbody>
</table>
<a href="/#!/produtos/new" type="button" class="btn btn-primary">Novo Produto</a>
<!--<a ng-click"removerTodos(produtos)" class="btn btn-danger">Não Aperte</a>-->
